* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden; /*prevents scrolling outside the render*/
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none; /*hides the border some browsers add around the canvas when it's focused*/
}